.artPiece {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .artPiece {
    display: flex;
  }
}

.artPiece + .artPiece {
  margin-top: 10px;
}

.cardContent {
  flex: 1;
  min-width: 25vw;
}
.media {
  height: 512px;
  max-width: 100%;
  flex: 3;
  background-size: contain;
  background-color: white;
}

.tag {
  margin: 5px;
}
