.overlayContainer {
  position: relative;
  margin: 0 0;
}

.overlayButton, .overlayButton:hover {
  position: absolute;
  top: 224px;
  background-color: white;
  border: 1px solid rgba(0,0,0,.2);
}

.leftButton {
  left: 0;
}

.rightButton {
  right: 0;
}
