.container {
  margin-top: 20px;
}

.description {
  margin: 10px 0;
}

.galleryCard .cardContent {
  min-height: 128px;
}

.galleryCard .media {
  height: 256px;
  background-size: contain;
  background-color: white;
}
